.wrapper {
	display: flex;
	min-height: 100vh;
	width: 100%;
	position: relative;
}

.goBackButton {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 20px;
	bottom: 20px;
	text-align: center;
	border: none;
	display: flex;
	align-items: center;
	font-size: 1.5rem;

	svg {
		margin-right: 1rem;
	}
}

.i18n {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	// left: 0;
	right: 20px;
	bottom: 20px;
	text-align: center;

	a + a {
		margin-left: 0.5rem;
	}

	a {
		background: transparent;
		border: none;

		img {
			width: 28px;
			height: 17px;
		}
	}
}
