.container {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 5rem;
	line-height: 1.25;

	p {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 3rem;
	}
}

.underline {
	text-decoration: underline;
	text-decoration-color: var(--red-dark);
}

.projects {
	margin-top: 3rem;
}

.project {
	cursor: pointer;
	padding: 1.5rem;
	border-radius: 1rem;
	border: 2px solid var(--red-dark);
	background: transparent;
	transition: background-color 0.2s;

	& + & {
		margin-top: 1rem;
	}

	&:hover {
		background-color: var(--red-dark);
		color: var(--white);
	}
}
